{% extends "base.html" %}

{% block title %}HandShake | Home{% endblock %}

{% block content %}
<section class="hero">
    <h1>Buy, Sell, or Rent. <br> Simple as a <span>HandShake.</span></h1>
    <input type="text" class="search-input" placeholder="Search for cars, houses, tools...">
</section>

<div class="product-grid">
    {% for item in items %}
    <div class="hs-card">
        <div class="card-img-wrapper" style="position:relative">
            <span class="badge badge-{{ item.type }}">{{ item.type.upper() }}</span>
            <img src="{{ item.image_url }}" alt="{{ item.title }}" width="100%">
        </div>
        <div style="padding: 1rem;">
            <h3>{{ item.title }}</h3>
            <p class="price">{{ item.price }} TMT {% if item.type == 'rent' %}/ day{% endif %}</p>
            <p class="location">{{ item.location }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}